<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Collabreate</a>
		</div>
		<div class="collapse navbar-collapse" id="collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">File <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Open</a></li>
						<li><a href="#">Save</a></li>
						<li><a href="#">Delete</a></li>
					</ul>
				</li>
			</ul>
			<div ng-controller="login">
				<ul ng-if="!accessToken" class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" ng-click="facebook()">Facebook</a></li>
						</ul>
					</li>
				</ul>
				<ul ng-if="accessToken" class="nav navbar-nav navbar-right">
					<li><a ng-click="logout()" href="#">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div ng-controller="editor" class="container-fluid">
	<div class="col-xs-6" ng-click="unhighlight()">
		<div formbuilder></div>				
	</div>
	<div class="col-xs-6">
		<div toolbar></div>
	</div>
</div>