<div ng-controller="formbuilder" ng-drag="select($offset)" ng-mousedown="startSelect($event)" ng-mouseup="endSelect($event)">	
	<div id="{{component.properties.Name.value}}" ng-repeat="component in components">
		<div 
			style="position:absolute;left:{{component.properties.X.value}}px;top:{{component.properties.Y.value}}px;width:{{component.properties.Width.value}}px;height:{{component.properties.Height.value}}px;" 
			ng-controller="flexible"  
			ng-init="init(component)">
			<div ng-include="'templates/' + component.component + '/view.html'"></div>
		</div>		
		<div 
			class="highlighted" 
			style="position:absolute;left:{{component.properties.X.value}}px;top:{{component.properties.Y.value}}px;width:{{component.properties.Width.value}}px;height:{{component.properties.Height.value}}px;" 
			ng-if="highlighted.contains(component)"
			ng-drag="move($offset)">
			<div class="top" ng-drag="top($offset, component)"></div>
			<div class="right" ng-drag="right($offset, component)"></div>
			<div class="bottom" ng-drag="bottom($offset, component)"></div>
			<div class="left" ng-drag="left($offset, component)"></div>
		</div>
	</div>
	<div 
		id="selection" 
		ng-if="selection"
		style="left:{{selection.x}}px;top:{{selection.y}}px;width:{{selection.width}}px;height:{{selection.height}}px;"
	></div>
</div>